.react-multi-carousel-list {
    padding: 0rem 0 2rem 0;
    }
    .custom-dot-list-style button{
      width: 8px;
      height: 8px;
    border: none;
    background: rgb(122, 119, 119);
    }
    .react-multi-carousel-dot.react-multi-carousel-dot--active button{
    background: rgb(16, 16, 16) ;
    }
    .carousel-container .carousel-item-padding-600-px {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .carousel-container .card-1 {
      width: calc(100% - 20px);
    }
    .custom-button-group {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .prev-button,
    .next-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 16px;
      margin: 0 10px;
      outline: none;
    }
    
    .prev-button {
      color: #000;
    }
    
    .next-button {
      color: #000;
    }
    